@import '_variable.scss';
@import '_mixins.scss';

[data-beat="1"] {
  animation-delay: 0.6s !important;
}

[data-beat="2"] {
  animation-delay: 0.8s !important;
}

[data-beat="3"] {
  animation-delay: 1s !important;
}

[data-beat="4"] {
  animation-delay: 1.2s !important;
}

[data-beat="5"] {
  animation-delay: 1.4s !important;
}

[data-beat="6"] {
  animation-delay: 1.6s !important;
}

@keyframes slide-up-and-in {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
