// max breakpoint is breakpoint - 1px so that min/max can match up
@mixin breakpoint($breakpoint, $width: min) {
  @if $width == 'max' {
    @media (#{$width}-width: $breakpoint - 1px) {
      @content;
    }
  } @else {
    @media (#{$width}-width: $breakpoint) {
      @content;
      
    }
  }
}

@mixin breakpoint-minmax($breakpointmin, $breakpointmax) {
  @media (min-width: $breakpointmin) and (max-width: $breakpointmax - 1px) {
    @content;
  }
}

@mixin breakpoint-height($breakpoint, $height: min) {
  @if $height == 'max' {
    @media (#{$height}-height: $breakpoint - 1px) {
      @content;
    }
  } @else {
    @media (#{$height}-height: $breakpoint) {
      @content;
    }
  }
}

//min for both only
@mixin breakpoint-height-width($heightbreakpoint, $widthbreakpoint) {
  @media (min-height: $heightbreakpoint) and (min-width: $widthbreakpoint) {
    @content;
  }
}

@mixin inputPlaceholder() {
  $selector: '';
  $prefixes: (
    moz: '::-moz',
    webkit: '::-webkit',
    ie: ':-ms',
  );
  @each $prop, $value in $prefixes {
    @if $prop != 'moz' {
      $selector: #{$value}-input-placeholder;
    } @else {
      $selector: #{$value}-placeholder;
    }
    @if & {
      &#{$selector} {
        @content;
      }
    } @else {
      #{$selector} {
        @content;
      }
    }
  }
  &::placeholder {
    @content;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  transform: translateY(-50%);
}

@mixin hover-fade {
  transition: 0.35s;
}

// most of these aren't necessary because of autoprefixer
@mixin transform($transforms) {
  transform: $transforms;
}

@mixin transition($val: ease 0.5s) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -o-transition: $val;
  -ms-transition: $val;
  transition: $val;
}

@mixin position(
  $position,
  $top: null,
  $right: null,
  $bottom: null,
  $left: null
) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin animate($name, $duration, $iteration, $direction) {
  -webkit-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -o-animation-duration: $duration;
  animation-duration: $duration;
  -webkit-animation-iteration-count: $iteration;
  -moz-animation-iteration-count: $iteration;
  -o-animation-iteration-count: $iteration;
  animation-iteration-count: $iteration;
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -o-animation-name: $name;
  animation-name: $name;
  -webkit-animation-direction: $direction;
  -moz-animation-direction: $direction;
  -o-animation-direction: $direction;
  animation-direction: $direction;
}

@mixin animation-name($name...) {
  -o-animation-name: $name;
  -moz-animation-name: $name;
  -webkit-animation-name: $name;
  animation-name: $name;
}

@mixin animation-duration($duration...) {
  -o-animation-duration: $duration;
  -moz-animation-duration: $duration;
  -webkit-animation-duration: $duration;
  animation-duration: $duration;
}

@mixin box-shadow($top, $left, $blur, $color, $inset: '') {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}

@mixin transition-delay($delay...) {
  -moz-transition-delay: $delay;
  -o-transition-delay: $delay;
  -webkit-transition-delay: $delay;
  transition-delay: $delay;
}

@mixin transform-origin($origin) {
  -moz-transform-origin: $origin;
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

@mixin transform-style($val) {
  -webkit-transform-style: $val;
  -moz-transform-style: $val;
  -ms-transform-style: $val;
  transform-style: $val;
}

@mixin perspective($val) {
  -webkit-perspective: $val;
  -moz-perspective: $val;
  -ms-perspective: $val;
  perspective: $val;
}

/* Baic Grid Area Layouts */
@mixin grid-2 {
  display: grid;
  grid-template:
    'a b'
    'c d'
    'e f'
    'g h'
    'i j'
    'k l'
    'm n'
    'o p'
    'q r'
    's t'
    'u v'
    'w x'
    'y z'
    'zz .' /
    1fr 1fr;
}

@mixin grid-3 {
  display: grid;
  grid-template:
    'a b c'
    'd e f'
    'g h i'
    'j k l'
    'm n o'
    'p q r'
    's t u'
    'v w x'
    'y z zz' /
    1fr 1fr 1fr;
}

@mixin grid-4 {
  display: grid;
  grid-template:
    'a b c d'
    'e f g h'
    'i j k l'
    'm n o p'
    'q r s t'
    'u v w x'
    'y z zz .' /
    1fr 1fr 1fr 1fr;
}

@mixin grid-5 {
  display: grid;
  grid-template:
    'a b c d e'
    'f g h i j'
    'k l m n o'
    'p q r s t'
    'u v w y x'
    'z zz . . .'/
    1fr 1fr 1fr 1fr 1fr;
}

@mixin grid-area-itemize {
  $area: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x,
    y, z, zz;
  @for $i from 1 through 27 {
    &:nth-child(#{$i}) {
      grid-area: nth($area, $i);
    }
  }
}

@mixin accessible_font(
  $default-value,
  $multiplier: 2,
  $css-property: font-size,
  $css-selector: &
) {
  @if ($css-selector == null) {
    @warn "No parent css element found";
  }
  #{$css-property}: $default-value;
  @at-root {
    .accessibility__fontsize {
      #{$css-selector} {
        #{$css-property}: ($default-value * $multiplier);
      }
    }
  }
}

@mixin accessible_contrast(
  $default-value,
  $accessible-value,
  $css-property,
  $css-selector: &
) {
  @if ($css-selector == null) {
    @warn "No parent css element found";
  }
  #{$css-property}: $default-value;
  @at-root {
    .accessibility__contrast {
      #{$css-selector} {
        #{$css-property}: $accessible-value;
      }
    }
  }
}
