@mixin inputPlaceholder() {
  $selector: '';
  $prefixes: (
    moz: '::-moz',
    webkit: '::-webkit',
    ie: ':-ms',
  );
  @each $prop, $value in $prefixes {
    @if $prop != 'moz' {
      $selector: #{$value}-input-placeholder;
    } @else {
      $selector: #{$value}-placeholder;
    }
    @if & {
      &#{$selector} {
        @content;
      }
    } @else {
      #{$selector} {
        @content;
      }
    }
  }
  &::placeholder {
    @content;
  }
}

/* Baic Grid Area Layouts */
@mixin grid-2 {
  display: grid;
  grid-template:
    'a b'
    'c d'
    'e f'
    'g h'
    'i j'
    'k l'
    'm n'
    'o p'
    'q r'
    's t'
    'u v'
    'w x'
    'y z'
    'zz .' /
    1fr 1fr;
}

@mixin grid-3 {
  display: grid;
  grid-template:
    'a b c'
    'd e f'
    'g h i'
    'j k l'
    'm n o'
    'p q r'
    's t u'
    'v w x'
    'y z zz' /
    1fr 1fr 1fr;
}

@mixin grid-4 {
  display: grid;
  grid-template:
    'a b c d'
    'e f g h'
    'i j k l'
    'm n o p'
    'q r s t'
    'u v w x'
    'y z zz .' /
    1fr 1fr 1fr 1fr;
}

@mixin grid-5 {
  display: grid;
  grid-template:
    'a b c d e'
    'f g h i j'
    'k l m n o'
    'p q r s t'
    'u v w y x'
    'z zz . . .'/
    1fr 1fr 1fr 1fr 1fr;
}

@mixin grid-area-itemize {
  $area: a, b, c, d, e, f, g, h, i, j, k, l, m, n, o, p, q, r, s, t, u, v, w, x,
    y, z, zz;
  @for $i from 1 through 27 {
    &:nth-child(#{$i}) {
      grid-area: nth($area, $i);
    }
  }
}

@mixin accessible_font(
  $default-value,
  $multiplier: 2,
  $css-property: font-size,
  $css-selector: &
) {
  @if ($css-selector == null) {
    @warn "No parent css element found";
  }
  #{$css-property}: $default-value;
  @at-root {
    .accessibility__fontsize {
      #{$css-selector} {
        #{$css-property}: ($default-value * $multiplier);
      }
    }
  }
}

@mixin accessible_contrast(
  $default-value,
  $accessible-value,
  $css-property,
  $css-selector: &
) {
  @if ($css-selector == null) {
    @warn "No parent css element found";
  }
  #{$css-property}: $default-value;
  @at-root {
    .accessibility__contrast {
      #{$css-selector} {
        #{$css-property}: $accessible-value;
      }
    }
  }
}
