// Variables. Needed for style-guide.
@import '_variable.scss';
@import '_mixins.scss';

@font-face {
  font-family: 'Decimal Bold';
  src: url('/fonts/decimal-bold_web.woff2') format('woff2'),
       url('/fonts/decimal-bold_web.woff') format('woff');
}

@font-face {
  font-family: 'Decimal Bold Italic';
  src: url('/fonts/decimal-bolditalic_web.woff2') format('woff2'),
       url('/fonts/decimal-bolditalic_web.woff') format('woff');
}

@font-face {
  font-family: 'Decimal Book';
  src: url('/fonts/decimal-book_web.woff2') format('woff2'),
       url('/fonts/decimal-book_web.woff') format('woff');
}

@font-face {
  font-family: 'Decimal Book Italic';
  src: url('/fonts/decimal-bookitalic_web.woff2') format('woff2'),
       url('/fonts/decimal-bookitalic_web.woff') format('woff');
}

@font-face {
  font-family: 'Decimal Medium';
  src: url('/fonts/decimal-medium_web.woff2') format('woff2'),
       url('/fonts/decimal-medium_web.woff') format('woff');
}

@font-face {
  font-family: 'Decimal Medium Italic';
  src: url('/fonts/decimal-mediumitalic_web.woff2') format('woff2'),
       url('/fonts/decimal-mediumitalic_web.woff') format('woff');
}

// H1
$h1: 55px;
$h1Tablet: 48px;
$h1Mobile: 34px;
$h1Weight: $font-400;
$h1Font: $headline-font;
// H2
$h2: 38px;
$h2Tablet: 35px;
$h2Mobile: 33px;
$h2Weight: $font-400;
$h2Font: $headline-font;
// H3
$h3: 30px;
$h3Tablet: 28px;
$h3Mobile: 26px;
$h3Weight: $font-400;
$h3Font: $headline-font;
// H4
$h4: 20px;
$h4Tablet: 19px;
$h4Mobile: 17px;
$h4Weight: $font-400;
$h4Font: $headline-font;
// H5
$h5: 18px;
$h5Tablet: 15px;
$h5Mobile: 16px;
$h5Weight: $font-400;
$h5Font: $headline-font-medium;
// H6
$h6: 18px;
$h6Tablet: 17px;
$h6Mobile: 16px;
$h6Weight: $font-400;
$h6Font: $headline-font-medium;
//Body
$p: 18px;
$pTablet: 17px;
$pMobile: 16px;
$pWeight: $font-400;
$pFont: $primary-font;

h1,
.h1 {
  font-family: $h1Font;
  font-weight: $h1Weight;
  line-height: 105%;
  margin: 0 0 0.5em;
  @include breakpoint($bp-charlie) {
    @include accessible_font($h1Tablet); // tablet size
  }
  @include breakpoint($bp-bobby) {
    @include accessible_font($h1); //desktop size
  }
  i,
  em,
  strong {
    font-weight: $font-800 !important;
    font-style: normal !important;
  }
}

h2,
.h2 {
  font-family: $h2Font;
  font-weight: $h2Weight;
  @include accessible_font($h2Mobile);
  line-height: 125%;
  margin: 0 0 0.5em;
  @include breakpoint($bp-charlie) {
    @include accessible_font($h2Tablet);
  }
  @include breakpoint($bp-bobby) {
    @include accessible_font($h2);
  }
  i,
  em,
  strong {
    font-weight: $h2Weight !important;
    font-style: normal !important;
  }

  .accessibility__fontsize & {
    word-break: break-word;
  }
}

h3,
.h3 {
  font-family: $h3Font;
  font-weight: $h3Weight;
  @include accessible_font($h3Mobile);
  line-height: 125%;
  margin: 0 0 0.5em;
  @include breakpoint($bp-charlie) {
    @include accessible_font($h3Tablet);
  }
  @include breakpoint($bp-bobby) {
    @include accessible_font($h3);
  }
  i,
  em,
  strong {
    font-weight: $h3Weight !important;
    font-style: normal !important;
  }

  .accessibility__fontsize & {
    word-break: break-word;
  }
}

h4,
.h4 {
  font-family: $h4Font;
  font-weight: $h4Weight;
  @include accessible_font($h4Mobile);
  line-height: 130%;
  margin: 0 0 0.5em;
  @include breakpoint($bp-charlie) {
    @include accessible_font($h4Tablet);
  }
  @include breakpoint($bp-bobby) {
    @include accessible_font($h4);
  }
  i,
  em,
  strong {
    font-weight: $h4Weight !important;
    font-style: normal !important;
  }

  .accessibility__fontsize & {
    word-break: break-word;
  }
}

h5,
.h5 {
  font-family: $h5Font;
  font-weight: $h5Weight;
  @include accessible_font($h5Mobile);
  line-height: 138%;
  margin: 0 0 0.5em;
  @include breakpoint($bp-charlie) {
    @include accessible_font($h5Tablet);
  }
  @include breakpoint($bp-bobby) {
    @include accessible_font($h5);
  }
  i,
  em,
  strong {
    font-weight: $h5Weight !important;
    font-style: normal !important;
  }

  .accessibility__fontsize & {
    word-break: break-word;
  }
}

h6,
.h6 {
  font-family: $h6Font;
  font-weight: $h6Weight;
  @include accessible_font($h6Mobile);
  line-height: 145%;
  margin: 0 0 1em;
  @include breakpoint($bp-charlie) {
    @include accessible_font($h6Tablet);
  }
  @include breakpoint($bp-bobby) {
    @include accessible_font($h6);
  }
  i,
  em,
  strong {
    font-weight: $h6Weight !important;
    font-style: normal !important;
  }

  .accessibility__fontsize & {
    word-break: break-word;
  }
}

p,
.para {
  font-family: $primary-font;
  font-weight: $pWeight;
  @include accessible_font($pMobile);
  line-height: 165%;
  margin: 0 0 20px;
  letter-spacing: 0;

  &.small {
    font-size: 12px;
    line-height: 180%;
  }

  &.disclaimer {
    font-size: 12px;
    opacity: 0.7;
    color: $body;
    line-height: 128%;
    margin: 0;
  }

  @include breakpoint($bp-charlie) {
    @include accessible_font($pTablet);
    margin: 0 0 25px;
  }
  @include breakpoint($bp-bobby) {
    @include accessible_font($p);
    margin: 0 0 25px;
  }

  .content &:last-child {
    margin-bottom: 0;
  }
}

/* Buttons */
$buttonBorderRadius: max(
  4px - 1px,
  0px
); //not sure why button is 1px less than modules but it is atm

$buttons-text-size: 16px;
$buttons-border-size: 0;
$button-padding-top: 9px;
$button-padding-bottom: 10px;
$button-padding-side: 16px;
$buttonsWeight: $font-400;

%button-link-defaults {
  align-content: center;
  justify-content: center;
  border-radius: $buttonBorderRadius;
  font-size: $buttons-text-size;
  font-weight: $buttonsWeight;
  font-family: $headline-font;
  line-height: $buttons-text-size * 1.4;
  transition: 0.35s;
  display: inline-flex; // should be inline-block/inline-flex
  text-align: center;
  width: auto;
  cursor: pointer; // to discuess later is only links having pointer icon
  // min-height: 50px;
}

%button-defaults {
  @extend %button-link-defaults;
  box-shadow: 0;
  border-radius: $buttonBorderRadius;
  color: $lightest;
  background: $body;
  text-decoration: none;
  width: 100%;
  &:hover,
  &:focus {
    background: $tertiary;
    color: $lightest;
  }
  padding: $button-padding-top ($button-padding-side - 6px) $button-padding-bottom;
  @include breakpoint($bp-adams) {
    padding: $button-padding-top $button-padding-side $button-padding-bottom;
  }
  @include breakpoint($bp-bravo) {
    width: auto;
  }
}

@keyframes link-slide {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

.btn,
button.btn {
  @extend %button-defaults;

  &.btn--secondary {
    background: $tertiary;
    color: #F2F4F8;
    border-radius: 50px;

    &:hover,
    &:focus {
      background: $body;
      color: #F2F4F8;
    }
  }

  &.btn--download {
    font-size: 14px;
    font-family: $headline-font-medium;
    width: 100%;
    padding: 19px 26px 18px 26px;


    @include breakpoint($bp-bobby) {
      max-width: 260px;
    }

    &[disabled] {
      background: $bg-superlight;
      cursor: default;
      opacity: 0.6;
      color: rgba(10,36,88,0.6);

      &:hover,
      &:focus {
        background: $bg-superlight;
        color: rgba(10,36,88,0.6);
      }
    }

    &:hover,
    &:focus {
      background: $secondary;
      color: $lightest;
    }
  }
}

.full-link {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
}

a {
  @include hover-fade();
}
